@use "../abstract/variable" as var;

.btn {
    padding: 0.8rem 1.6rem;
    border-radius: 6px;
    line-height: 1;
    font-size:0.9rem;
    font-weight: 600;
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;


   &-primary {
    @extend .btn;
    margin-top: 10px;
    margin-right: 10px;
    background-color: map-get(var.$theme-colors, "primary");
    color: white;

   &:hover {
    background-color: map-get(var.$theme-colors,"primary-hover");
    } 


}

    
&-primary-outlined {
    @extend .btn;
    background-color: white;
    border: 2px solid map-get(var.$theme-colors, "primary");

    &:hover {
        background-color: map-get(var.$theme-colors,"primary-hover");
        color: white;
    }

}


}